intro_pytorch/Cat_Dog_data.zip
intro_pytorch/Cat_Dog_data/
convolutional_neural_networks/data/
convolutional_neural_networks/data/MNIST/
convolutional_neural_networks/data/MNIST/raw
convolutional_neural_networks/model.pt
